*{
    margin: 0;
    padding: 0;
}

.conteudo{
    padding: 0 20%;
}

.container-card{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.img-icone{
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    padding: 15px;
    position: relative;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.card{
    border: 1px solid grey;
    width: 30%;
    border-radius: 25px;
    display: inline-table;
    text-align: center;
    padding: 12px;
}




